# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Jonathan Rockway <jrockway@cpan.org> Jonathan Rockway <jon@jrock.us>
Stevan Little <stevan.little@iinteractive.com> Stevan Little <stevan@stevan-littles-powerbook-g4-15.local>
