# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Jonathan Rockway <jrockway@cpan.org> Jonathan Rockway <jon@jrock.us>
Stevan Little <stevan@cpan.org> <stevan@stevan-littles-powerbook-g4-15.local>
Hans Dieter Pearcey <hdp@weftsoar.net> <hdp@pobox.com>
